# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.DS_Store

# testing
/cypress-visual-screenshots/comparison
/cypress-visual-screenshots/diff
/cypress-visual-report
.cypressDash.png
/runner-results
/multi-reporter-config.json
